<footer>
  <div class="footer-row">
    <ul>
      <li><a href="https://www.copyright.gov/">U.S. Copyright Website</a></li>
      <li><a href="https://www.grammarly.com/">Grammarly</a></li>
      <li><a href="#">Additional Example</a></li>
    </ul>
  </div>
  <div class="footer-row">
    <p>Created with ❤️ by Team 4 in 2024</p>
  </div>
</footer>
