<footer>
  <div class="footer-row">
    <ul>
      <!-- List of useful links -->
      <li><a href="https://www.copyright.gov/">U.S. Copyright Website</a></li>
      <li><a href="https://www.grammarly.com/">Grammarly</a></li>
      <li><a href="https://hemingwayapp.com/">Hemingway Editor</a></li>
      <li><a href="https://zenquotes.io/">Zen Quotes</a></li>
      <li><a href="/terms">Terms of Use and License</a></li>
    </ul>
  </div>
  <div class="footer-row">
    <!-- Footer text with team credit -->
    <p>Created with ❤️ by Team 4 in 2024</p>
  </div>
</footer>