<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Reader-Reply</title>
  <!-- Link to the external CSS file -->
  <link rel="stylesheet" href="/assets/style.css" />
</head>

<!-- Add 'homepage' class if it's the homepage -->
<body class="{{#if isHomepage}}homepage{{/if}}">
  <!-- Include navigation details if not on the homepage -->
  {{#unless isHomepage}}
    <header>
      {{> navdetails}}
    </header>
  {{/unless}}

  <main class="container-fluid mt-5">
    {{{body}}}
    {{#if loggedIn}}
      <!-- Load logout script if logged in -->
      <script src="/js/logout.js"></script>
    {{/if}}
  </main>

  <!-- Include footer details if not on the homepage -->
  {{#unless isHomepage}}
    {{> footerdetails}}
  {{/unless}}

  <!-- Load the login script -->
  <script src="/js/login.js"></script>
</body>

</html>
