<div id="dashboard" class="body">
  <div class="dashboard-container">
    <!-- Create New Section -->
    <div class="column create-new">
      <button id="create-new-btn" class="action-btn">Create New</button>
      <div class="quote-container">
        <div id="inspo">Need inspiration? Consider this: </div>
        <div id="quote"></div>
      </div>
    </div>
    <!-- Continue Reading Section -->
    <div class="column continue-reading">
      <h2>Continue Reading</h2>

      <p><a href="/works/1">Story Title 1</a></p>
      <!-- Functional link -->
      <p><a href="/works/2">Story Title 2</a></p>
      <!-- Functional link -->
      <a href="/works" class="view-more">View More</a>
      <!-- Functional link -->
    </div>

    <!-- Continue Writing Section -->
    <div class="column continue-writing">
      <h2>Continue Writing</h2>

      {{#each writtenWorks}}
        <div class="story-item">
          <p><a href="/editor?id={{this.id}}">{{this.title}}</a></p>
          <!-- Dynamic link to work -->
          {{#if this.collectionTitle}}
            <p class="collection-title">Part of: {{this.collectionTitle}}</p>
          {{/if}}
        </div>
      {{/each}}
      <a href="/works" class="view-more">View More</a>
    </div>
  </div>
</div>

<!-- Link to external JavaScript file -->
<script src="/js/dashboard.js"></script>