
<div id="dashboard" class="body">
  <div class="dashboard-container">
    <div class="column create-new">
      <button id="create-new-btn" class="action-btn">Create New</button>
      <div id="quotes" class="quote-container">Inspirational quote here...</div>
    </div>

    <div class="column continue-reading">
      <h2>Continue Reading</h2>
      
      <p><a href="#">Story Title 1</a></p>
      <p><a href="#">Story Title 2</a></p>
      <a href="#" class="view-more">View More</a>
    </div>

    <div class="column continue-writing">
      <h2>Continue Writing</h2>
  
      <div class="story-item">
        <p><a href="#">Story Title 1</a></p>
        <p class="comment">- Recent comment here...</p>
      </div>
      <div class="story-item">
        <p><a href="#">Story Title 2</a></p>
        <p class="comment">- Recent comment here...</p>
      </div>
      <a href="#" class="view-more">View More</a>
    </div>
  </div>
</div>
 <script src="/js/dashboard.js"></script>
