<div id="discover">
  <div class="discover-container">
    {{#each works}}
      <div class="post-box">
        <h3 class="post-title">
          <a href="/story?id={{this.id}}" class="post-link">{{this.title}}</a>
        </h3>
        <div class="post-metadata">
          <p class="post-author">By: {{this.user.username}}</p>
          <p class="post-date">{{format_date this.createdAt}}</p>
        </div>
      </div>
    {{/each}}
  </div>
</div>
