<div id="discover">
    <class="discover-container">
  <div class="post-box">
    <h3 class="post-title">
      <a href="/post1.html" class="post-link">Post Title 1</a>
    </h3>
    <p class="post-author">by Author Name</p>
    <p class="post-summary">Summary of the work goes here...</p>
  </div>
</div>