<!-- Greeting message for the user -->
<div class="container">
  <div class="message">Hello, Friend!</div>
   <!-- Authentication buttons for login and signup -->
  <div class="auth-buttons">
    <a href="/login" class="button">Login</a>
    <a href="/signup" class="button">Sign Up</a>
  </div>
</div>