    <div class="container">
        <div class="message">Hello, Friend!</div>
        <div class="auth-buttons">
            <a href="/login" class="button">Login</a>
            <a href="/signup" class="button">Sign Up</a>
        </div>
    </div>
