
    <div class="container">
        <form>
            <label for="username">Username</label>
            <input type="text" id="username" name="username" required>

            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>

            <button type="submit" class="button">Log In</button>
        </form>
        <p>Need to sign up? <a href="/signup">Sign up here</a>.</p>
    </div>
