<div class="row justify-space-between-md">
  <!-- Login card section -->
  <div class="login-card">
    <h3 class="page-title">Login</h3>

    <!-- User login form -->
    <form id="login-form" class="login-form">
      <label for="username-login">Username:</label>
      <input class="form-input" type="text" id="username-login" required />

      <label for="password-login">Password:</label>
      <input class="form-input" type="password" id="password-login" required />

      <button class="new-post-btn form-button" type="submit">Login</button>
    </form>

    <!-- Link to sign up instead -->
    <p>
      <a href="/signup" class="signup-link">Need to sign up?</a>
    </p>
  </div>
</div>