<div class="row justify-space-between-md">
  <!-- Signup card section -->
  <div class="login-card">
    <h3 class="page-title">Sign Up</h3>

    <!-- User signup form -->
    <form id="signup-form" class="signup-form">     

      <!-- Username Field -->
      <label for="username-signup">Username:</label>
      <input class="form-input" type="text" id="username-signup" required />

      <!-- Email Field -->
      <label for="email-signup">Email:</label>
      <input class="form-input" type="email" id="email-signup" required />

      <!-- Password Field -->
      <label for="password-signup">Password:</label>
      <input class="form-input" type="password" id="password-signup" required />

      <!-- Sign Up Button -->
      <button class="new-post-btn form-button" type="submit">Sign Up!</button>
    </form>

    <!-- Link to login instead -->
    <p>
      <a href="/login" class="login-link">Login instead</a>
    </p>
  </div>
</div>

<!-- Include JavaScript for handling signup -->
<script src="./js/signup.js"></script>
