<div class="row justify-space-between-md">
  <!-- Signup card section -->
  <div class="login-card">
    <h2 class="page-title">Sign Up</h2>

    <!-- User signup form -->
    <form id="signup-form" class="signup-form" action="/api/users" method="POST">     

      <!-- Username Field -->
      <label for="username-signup">Username:</label>
      <input class="form-input" type="text" id="username-signup" required />

      <!-- Email Field -->
      <label for="email-signup">Email:</label>
      <input class="form-input" type="email" id="email-signup" required />

      <!-- Password Field -->
      <label for="password-signup">Password:</label>
      <input class="form-input" type="password" id="password-signup" required />

    <div>
    <img src="/api/captcha/signup" alt="Captcha">
    </div>
    <label for="captcha">Enter Captcha:</label>
    <input type="text" id="captcha" name="captcha" required>

      <!-- Sign Up Button -->
      <button class="form-button" type="submit">Sign Up!</button>
    </form>

    <!-- Link to login instead -->
    <p>
      <a href="/login" class="login-link">Login instead</a>
    </p>
  </div>
</div>

<!-- Include JavaScript for handling signup -->
<script src="./js/signup.js"></script>
