/* Root Variables */
:root {
  --redvariable: #a31621;
  --whitevariable: #ffffff;
  --grayvariable: #cbd2d0;
  --blackvariable: #161925;
  --bluevariable: #046865;
}

/* General reset and body styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
}

/* Header and Navigation */
header {
  background-color: var(--blackvariable);
  color: var(--whitevariable);
  padding: 10px;
}

nav ul {
  list-style: none;
  text-align: center;
  padding: 20px 0;
  margin: 0;
  display: flex; /* Use flexbox to align items */
  justify-content: space-around; /* Distribute items evenly */
  align-items: center; /* Center items vertically */
}

nav ul li a {
  color: var(--whitevariable);
  font-size: 28px;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

/* Page Heading Styles */
h2.page-title {
  text-align: center;
  font-size: 24px;
  padding: 20px 0;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Login/Signup Form-specific styles */
#login-form,
#signup-form {
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 15px;
  margin: 20px auto 15px auto;
  width: 100%;
  max-width: 600px;
  text-align: center;
}

.login-link,
.signup-link {
  text-decoration: none;
  color: var(--redvariable);
  font-size: 14px;
  margin-top: 10px;
  display: block;
  text-align: center;
}

.login-link:hover,
.signup-link:hover {
  text-decoration: underline;
}

.form-button {
  font-size: 16px;
  padding: 10px 20px;
  border: 1px solid var(--blackvariable);
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  color: var(--blackvariable);
}

.form-button:hover {
  background-color: var(--blackvariable);
  color: var(--whitevariable);
}

/* General styling for all input fields */
#signup-form input[type="email"],
#signup-form input[type="text"],
#signup-form input[type="password"],
#login-form input[type="text"],
#login-form input[type="password"] {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
}

form label {
  display: block;
  margin-bottom: 0.5rem;
}

/* Homepage Styles */
.homepage {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--grayvariable);
  background-image: url("./hero.jpg");
  background-size: contain;
  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-position: center center; /* Centers the image */
  background-attachment: fixed; /* Keeps the background fixed when scrolling */
  height: 100vh; /* Ensures the body takes up the full viewport height */
  margin: 0;
  padding: 0;
}

.homepage .title {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 40px;
  margin-top: 20px;
  text-align: center;
  color: var(--redvariable);
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 3px 3px 6px rgba(0, 0, 0, 0.7);
  background-color: rgba(255, 255, 255, 0.2);
  padding: 10px 20px;
  border-radius: 10px;
  display: inline-block;
}

.homepage .container {
  text-align: center;
  background-color: var(--whitevariable);
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.homepage .message {
  color: var(--blackvariable);
  font-size: 18px;
  margin-bottom: 30px;
}

.homepage .auth-buttons {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: var(--redvariable);
}

.homepage .button {
  font-size: 16px;
  padding: 10px 20px;
  border: 1px solid var(--redvariable);
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  color: var(--redvariable);
}

/* Dashboard-specific styles */
#dashboard .dashboard-container {
  display: flex; /* Use flexbox to arrange columns side by side */
  width: 100%; /* Ensure the container spans the full width */
  gap: 20px; /* Add some space between columns */
  padding: 20px;
}

#dashboard .column {
  padding: 10px; /* Add some padding inside each column */
  background-color: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional shadow for better visuals */
  border-radius: 8px; /* Optional rounded corners */
}

#dashboard .create-new {
  width: 25%;
  display: flex;
  flex-direction: column; /* Stack child elements vertically */
  justify-content: space-between; /* Space out child elements */
  position: relative; /* Allows positioning of child elements */
  padding: 10px;
}

#dashboard .create-new button {
  width: 100%; /* Make the button span the full width of the column */
  box-sizing: border-box; /* Ensure padding and border are included in the width */
  background-color: var(
    --bluevariable
  ); /* Set the background color to bluevariable */
  color: var(--whitevariable); /* Set the font color to whitevariable */
  font-size: 36px; /* Set the font size to 36px */
  padding: 10px; /* Optional: Add some padding around the text */
  border: none; /* Remove the default border */
  border-radius: 5px; /* Optional: Add rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow for a 3D effect */
  cursor: pointer; /* Change the cursor to a pointer to indicate it's clickable */
  transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for hover effects */
}

#dashboard .create-new button:hover {
  background-color: #035d6a; /* Slightly darker blue for hover effect */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Slightly larger shadow on hover */
}

#dashboard .create-new .quote-container {
  flex-grow: 1; /* Allow the quote container to take up available space */
  margin-top: 20px; /* Space between button and quote container */
  padding: 10px;
  background-color: var(--grayvariable);
  border-radius: 5px; /* Optional: Add rounded corners */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional: Add shadow */
}

#dashboard #quote {
  color: var(--redvariable);
  font-size: 32px;
  font-style: italic;
  text-align: center;
  margin-top: 20px; /* Space between button and quote container */
  padding: 10px;
  background-color: var(--grayvariable);
  border-radius: 5px; /* Optional: Add rounded corners */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional: Add shadow */
}

#dashboard .continue-reading,
#dashboard .continue-writing {
  width: 37.5%; /* Each takes up 37.5% of the body width (half of 75%) */
  padding: 10px;
  background-color: var(--grayvariable);
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
#dashboard .view-more {
  display: block;
  margin-top: auto; /* Push the link to the bottom */
  text-align: center; /* Center the text */
  color: var(--redvariable);
  text-decoration: none;
  font-weight: bold;
}

#dashboard .view-more:hover {
  text-decoration: underline; /* Underline on hover */
}

/*Editor page specific styling*/
/* Styling for the form and comments section */
#editor .form-container {
  display: flex;
  gap: 20px;
  padding: 20px;
}

/* Form styling */
#editor .form-container .column-1 {
  flex: 1;
  background-color: var(--whitevariable);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

#editor .form-container label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

#editor #title,
#editor .form-container select,
#editor .form-container textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid var(--grayvariable);
  border-radius: 5px;
}

#editor .form-container textarea {
  resize: vertical;
}

#editor .form-container .form-buttons {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

#editor .form-container .form-buttons button {
  background-color: var(--bluevariable);
  border: none;
  color: var(--whitevariable);
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

#editor .form-container .form-buttons button:hover {
  background-color: #035d6a;
}

#editor .form-container #delete-button {
  background-color: var(--redvariable);
}

#editor .form-container #delete-button:hover {
  background-color: #8a1e23;
}

#editor .form-container #delete-button i {
  margin-right: 5px;
}

/* Comments section styling */
#editor .comments-section {
  flex: 1;
  background-color: var(--whitevariable);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

#editor .comments-section h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

#editor .comments-section .comment {
  border-bottom: 1px solid var(--grayvariable);
  padding: 10px 0;
}

#editor .comments-section .comment:last-of-type {
  border-bottom: none;
}

#editor .comments-section .username {
  color: var(--blackvariable);
  font-style: italic;
}

#editor .comments-section #placeholder {
  color: var(--grayvariable);
  text-align: center;
  margin: 20px 0;
}

#editor .comments-section .view-more {
  display: block;
  text-align: center;
  color: var(--bluevariable);
  text-decoration: none;
  font-weight: bold;
  margin-top: 20px;
}

#editor .comments-section .view-more:hover {
  text-decoration: underline;
}

/*Discover*/

/* Profile specific styles */
#profile {
  min-height: 100vh; /* Minimum height of 100% of the viewport height */
  background-color: var(--whitevariable);
}

#profile h2 {
  padding-bottom: 2%;
}

#profile .profile-container {
  padding: 20px;
  background-color: var(--whitevariable);
  color: var(--bluevariable);
  min-height: 100vh; /* Minimum height of 100% of the viewport height */
  display: flex;
  flex-direction: column;
}

#profile .row {
  display: flex;
  gap: 20px; /* Space between sections */
  margin-bottom: 20px; /* Space between rows */
}

#profile .section {
  background-color: var(--whitevariable);
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

#profile .section-1 {
  width: 60%; /* Adjust width as needed */
}

#profile .user-info-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#profile .user-info-form label {
    font-weight: bold;
}

#profile .user-info-form input {
    padding: 8px;
    border: 1px solid var(--grayvariable);
    border-radius: 4px;
}

#profile .form-buttons {
    display: flex;
    gap: 10px; /* Space between the Save and Change Password buttons */
}

#profile .form-buttons .save,
#profile .form-buttons .change-password,
#profile .update-bio {
    background-color: var(--bluevariable);
    color: var(--whitevariable);
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}

#profile .form-buttons .save:hover,
#profile .form-buttons .change-password:hover,
#profile .update-bio:hover {
    background-color: var(--redvariable);
}

#profile .section-2 {
  width: 40%; /* Adjust width as needed */
}

#profile .profile-image {
  width: 100%;
  height: 100%; /* Set a height for the container */
  background-image: url('./profile.jpg'); /* Adjust path if necessary */
  background-size: cover; /* Cover the entire container */
  background-position: center; /* Center the image */
}

#profile .section-3 {
  width: 100%;
  background-color: var(--grayvariable);
  color: var(--redvariable);
}

#profile .bio-save-container {
    display: flex;
    justify-content: flex-end; /* Align the Save Bio button to the right */
    margin-top: 10px; /* Add some space above the Save Bio button */
}

#profile h2 {
  padding-bottom: 1%;
}

#profile #bio {
    padding: 20px;
    border-radius: 5px;
    width: 100%;
}

/* Footer Styles */
footer {
  background-color: var(--blackvariable);
  color: var(--whitevariable);
  text-align: center;
  padding: 20px 0;
  margin-top: auto;
  display: flex;
  flex-direction: column;
  font-size: 12px;
}

footer .footer-row {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

footer .footer-row ul {
  list-style: none;
  padding: 0;
  display: flex;
}

footer .footer-row ul li {
  margin-right: 20px;
}

footer .footer-row ul li a {
  color: white;
  text-decoration: none;
}

footer .footer-row ul li a:hover {
  text-decoration: underline;
}

footer .footer-row p {
  margin: 0;
}