/* Root Variables */
:root {
  --redvariable: #a31621;
  --whitevariable: #ffffff;
  --grayvariable: #cbd2d0;
  --blackvariable: #161925;
  --bluevariable: #046865;
}

/* General reset and body styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
}

/* Header and Navigation */
header {
  background-color: var(--blackvariable);
  color: var(--whitevariable);
  padding: 10px;
}

nav ul {
    list-style: none;
    text-align: center;
    padding: 20px 0;
    margin: 0;
    display: flex; /* Use flexbox to align items */
    justify-content: space-around; /* Distribute items evenly */
    align-items: center; /* Center items vertically */
}

nav ul li a {
    color: var(--whitevariable);
    font-size: 28px;
    text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

/* Page Heading Styles */
h2.page-title {
  text-align: center;
  font-size: 24px;
  padding: 20px 0;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Login/Signup Form-specific styles */
#login-form,
#signup-form {
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 15px;
  margin: 20px auto 15px auto;
  width: 100%;
  max-width: 600px;
  text-align: center;
}

.login-link,
.signup-link {
  text-decoration: none;
  color: var(--redvariable);
  font-size: 14px;
  margin-top: 10px;
  display: block;
  text-align: center;
}

.login-link:hover,
.signup-link:hover {
  text-decoration: underline;
}

.form-button {
  font-size: 16px;
  padding: 10px 20px;
  border: 1px solid var(--blackvariable);
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  color: var(--blackvariable);
}

.form-button:hover {
  background-color: var(--blackvariable);
  color: var(--whitevariable);
}

/* General styling for all input fields */
#signup-form input[type="email"],
#signup-form input[type="text"],
#signup-form input[type="password"],
#login-form input[type="text"],
#login-form input[type="password"] {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
}

form label {
  display: block;
  margin-bottom: 0.5rem;
}

/* Homepage Styles */
.homepage {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--grayvariable);
  background-image: url("./assets/hero.jpg");
  background-size: contain;
  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-position: center center; /* Centers the image */
  background-attachment: fixed; /* Keeps the background fixed when scrolling */
  height: 100vh; /* Ensures the body takes up the full viewport height */
  margin: 0;
  padding: 0;
}

.homepage .title {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 40px;
  margin-top: 20px;
  text-align: center;
  color: var(--redvariable);
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 3px 3px 6px rgba(0, 0, 0, 0.7);
  background-color: rgba(255, 255, 255, 0.2);
  padding: 10px 20px;
  border-radius: 10px;
  display: inline-block;
}

.homepage .container {
  text-align: center;
  background-color: var(--whitevariable);
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.homepage .message {
  color: var(--blackvariable);
  font-size: 18px;
  margin-bottom: 30px;
}

.homepage .auth-buttons {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: var(--redvariable);
}

.homepage .button {
  font-size: 16px;
  padding: 10px 20px;
  border: 1px solid var(--redvariable);
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  color: var(--redvariable);
}

/* Dashboard Styles */


/* Footer Styles */
footer {
  background-color: var(--blackvariable);
  color: var(--whitevariable);
  text-align: center;
  padding: 20px 0;
  margin-top: auto;
  display: flex;
  flex-direction: column;
  font-size: 12px;
}

footer .footer-row {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

footer .footer-row ul {
  list-style: none;
  padding: 0;
  display: flex;
}

footer .footer-row ul li {
  margin-right: 20px;
}

footer .footer-row ul li a {
  color: white;
  text-decoration: none;
}

footer .footer-row ul li a:hover {
  text-decoration: underline;
}

footer .footer-row p {
  margin: 0;
}
